
@{
    ViewBag.Title = "Question5";
}

<h2>Question5</h2>
<p>ViewData和ViewBag是用於裝載資料，並在View中呈現。Viewdata生命周期為一個頁面，Dictionary型別，而ViewBag則是動態型別
    </p>
<p>TempData 資料會儲存在Session 中，其生命週期為一個 Request，一旦Request結束就會被刪除。 可以讓資料跨不同Action傳遞至View</p>
