
@{
    ViewBag.Title = "Question6";
}

<h2>Question6</h2>
<p>Action Filter在Action執行之前對Request 進行加工處理，共有三類的Action Filter</p>
<ol>
    <li>Authorization Filter: 用於驗證</li>
    <li>Action Filter: Action執行前、執行後的方法</li>
    <li>Exception Filter: 發生例外狀況時執行</li>
</ol>
