
@{
    ViewBag.Title = "Question3";
}

<h2>Question3</h2>
<p>SQL :</p>
<p> SELECT p.FirstName, p.LastName, a.City, a.State FROM Person AS p </p>
<p>LEFT OUTER JOIN Address AS a ON p.PersonId = a.PersonId</p>

